</main>

<footer class="foot">
    <p>Copyright © 2024 My Book Notes. All Rights Reserved.
</p>
</footer>

<!--js script-->
    <script>
        // head btn
        function flashEffect() {
            const button = document.querySelector('.check_button');
            button.style.backgroundColor = '#677885'; // Change to your desired flash color
            setTimeout(() => {
                button.style.backgroundColor = '#24323d'; // Reset to original color
            }, 200); // Adjust the duration (milliseconds) as needed
        }

    </script>
</body>
</html>