<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <!--css for head-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine" rel="stylesheet">
    <title>Book Notes</title>
  </head>
  <body>
    <header>
    
      <div >  
        <h1 class="head"> My Book notes</h1>        
        <div class="search_bar">
          <input type="text" name="search_text" class="search_input" placeholder="Enter the book name">
          <button class="search_button">Search</button>
          <button class="check_button">Check</button>
        </div>
      </div>

    </header>
<main>