<%- include('partials/header.ejs') %>
<section class="all-book">
    
    <div class="book-box">
        <figure class="img-box">
            img
        </figure>
        <h2>title and authur</h2>
        <small>READ DATE: .HOW STRONGLY I RECOMMEND IT: 10/10</small>

        <p>preview</p>
        <p>What I have read (note link)</p>
    </div>

</section>


<%- include('partials/footer.ejs') %>
    
