<%- include('partials/header.ejs') %>
<div class="container">
    <div class="book-box">
        <figure>
            img
        </figure>
        <h2>title and authur</h2>
        <small>date and rating</small>

        <p>preview</p>
        <p>note link</p>
    </div>
</div>

<%- include('partials/footer.ejs') %>
    
