/* header section */
header {
  background-color: antiquewhite;
  padding: 5px;
}

/* header h1 */
.head {
  font-family: "Tangerine", cursive;
  font-weight: bolder;
  font-style: normal;
  color: #799351;
  text-align: left;
  font-size: 3rem;
  display: inline;
}

/* header search, button */
header .search_bar {
  text-align: right;
  padding: 0 10px;
}

/* header search portion */
header .search_input {
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
  cursor: pointer;
}

/*
header .search_button {
  border-radius: 5px;
  border: 1px solid black;
  color: #24323d;
}
*/

/* header check button */
header .check_button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #24323d;
  color: antiquewhite;
  cursor: pointer;
}

/* body section */
body {
  background-color: #24323d;
  padding: 0;
  margin: 0;
}

/* main body section */
.main-section {
  margin: auto;
  max-width: 50rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
}

/* submit-button [note.ejs] */
.main-section .submit-button {
  text-align: right;
 
}

/* submit-button color [note.ejs] */
.main-section .submit_button{
  background-color: antiquewhite;
  border-radius: 5px;
  cursor: pointer;
}

/* notes and preview head [notes.ejs] */
.main-section .notes-head, .preview-head {
  color: antiquewhite;
}

/* notes and preview textarea [note.ejs] */
.main-section #previewTextarea, #noteTextarea{
  min-width: 30rem;
  min-height: 10rem;
  background-color: antiquewhite;
  border-radius: 5px;
}

/* textarea adjustment [note.ejs]*/
.main-section .container-notes {
  margin-left: 280px;
}

/* individual book section */
.book-box { 
  flex: 1;
  padding: 20px;
  color:antiquewhite;
}

/* individual book section img box */
.book-box .img-box {
float: left;
}

/* footer section */
.foot {
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  flex: 0 0 auto;
}
