/* header section */
header {
  background-color: antiquewhite;
  padding: 5px;
}

/* header h1 */
.head {
  font-family: "Tangerine", cursive;
  font-weight: bolder;
  font-style: normal;
  color: #799351;
  text-align: left;
  font-size: 3rem;
  display: inline;
}

/* header search, button */
header .search_bar {
  text-align: right;
  padding: 0 10px;
}

/* header search portion */
header .search_input {
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
  cursor: pointer;
}

/* header check button */
header .check_button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #24323d;
  color: antiquewhite;
  cursor: pointer;
}

/* body section */
body {
  background-color: #24323d;
  padding: 0;
  margin: 0;
}

/* main body section */
.main-section {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 50rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
}

/* main body section p overflow resisting */
p {
  word-wrap: break-word; /* Ensures long words break to fit the container */
  word-break: break-word; /* Breaks long words at arbitrary points */
  overflow-wrap: break-word; /* Breaks long words at arbitrary points */
  max-width: 100%; /* Ensures paragraphs respect their container's width */
}

/* svg in index.ejs  */
.svg-img{
  padding-right: 20px;
}

/* delete and edit [index.ejs] */
.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: right;
  align-items: center;
}

/* delete and edit btn [index.ejs] */
.delete_button, .edit_button {
  border-radius: 5px;
  background-color: antiquewhite;
  color: #24323d;
  cursor: pointer;
}

/* preview and note color [note.ejs] */
.p-preview, .p-note{
  color: antiquewhite;
}

/* submit-button [submit.ejs, note.ejs] */
.main-section .submit-button, .back-button, .update-button { 
  text-align: right; 
}

/* submit-button color [submit.ejs, note.ejs] */
.main-section .submit_button, .back_button, .update_button{
  background-color: antiquewhite;
  border-radius: 5px;
  cursor: pointer; 
}

/* notes, rating and preview head [submit.ejs] */
.main-section .notes-head, .preview-head, .rating {
  color: antiquewhite;
}

/* notes and preview textarea [submit.ejs] */
 .main-section .previewTextarea, .noteTextarea{
  min-width: 30rem;
  min-height: 10rem;
  background-color: antiquewhite;
  border-radius: 5px;
}

/* small color*/
small {
  color: #799351;
}
/* note.ejs*/
.container-preview, .container-notes {
  display: inline;
}

/* textarea adjustment [submit.ejs]*/
.main-section .container-notes {
  margin-left: 280px;
}

/* edit page*/
.edit-book {
  padding: 100px;
}

/* individual book section */
.book-box { 
  flex: 1;
  padding: 20px;
  color:antiquewhite;
  width: 100%;
  box-sizing: border-box;
}

/* section border */
#section_border {
border-bottom: 1px solid antiquewhite;
}

/* individual book section img box */
.book-box .img-box {
float: left;
}

/* footer section */
.foot {
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  flex: 0 0 auto;
}

/* edit page */
.edit-note, .edit-btn{
  padding-right: 200px;
}

